@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #303030;
  color: white;
}

#contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 70px;
  right: 0;
  color: white;
  font-size: 1em;
  height: 30px;
  width: 50%;
  background-color: black;
  border-radius: 5px;
  font-weight: 900;
  text-decoration: none;
  border: solid 3px rgb(39, 204, 141);
}

#cost-contract {
  padding: 20px;
}
#cost-contract div > p {
  font-weight: 600;
}
#cost-contract div > p span {
  font-weight: 300;
}

header {
  background-color: rgb(39, 204, 141);
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
header > div {
  flex-basis: 100%;
  display: flex;
}
header div > div:first-child {
  font-weight: 600;
  font-size: 1.3em;
}
header nav {
  display: flex;
  flex-basis: 60%;
}
header nav ul {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  column-gap: 10px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8em;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main #presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px 0;
  letter-spacing: 0.1em;
  flex-basis: 100%;
}
main #presentation > div {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
main #presentation > div > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 10% 20%;
  border: solid 5px rgb(39, 204, 141);
  box-shadow: 30px 30px 28px 21px rgba(39, 204, 141, 0.075);
}
main #presentation > h1 {
  color: rgb(39, 204, 141);
  font-size: 2.8em;
  flex-basis: 100%;
  font-weight: 700;
  margin: 0;
  font-style: italic;
  letter-spacing: -0.1em;
}
main #presentation > h1 span {
  font-weight: 200;
  font-style: normal;
  margin-right: 15px;
  font-size: 1.2em;
  letter-spacing: -0.1em;
}
main #presentation .licence {
  font-size: 1.3em;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
}
main #presentation .alternance {
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: 600;
  line-height: 0.9em;
  letter-spacing: 0.01em;
  padding: 0 20px;
}
main #presentation .alternance .underline-green:first-child {
  position: relative;
}
main #presentation .alternance .underline-green:first-child::before {
  content: " ";
  border-bottom: solid 10px rgb(39, 204, 141);
  padding-bottom: 5px;
  z-index: -1;
  position: absolute;
  width: 210px;
  top: 49px;
  right: 10px;
}
main #presentation .alternance .underline-green:nth-child(2) {
  position: relative;
}
main #presentation .alternance .underline-green:nth-child(2)::before {
  content: " ";
  border-bottom: solid 9px rgb(39, 204, 141);
  padding-bottom: 5px;
  position: absolute;
  width: 230px;
  top: 19px;
  right: 25px;
  z-index: -1;
}
main #presentation .age {
  font-size: 2em;
  margin: 0;
  letter-spacing: 0.3em;
}

#alternance {
  display: flex;
  flex-basis: 100%;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 2.3em;
  color: #27CC8D;
  background-color: black;
  border: solid 9px #27CC8D;
  margin-bottom: 30px;
  justify-content: center;
  padding: 10px;
}

#call-to-action {
  border-top: solid 4px #27CC8D;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  padding: 20px 20px;
  background-color: white;
  column-gap: 50px;
  position: relative;
  margin-top: 30px;
}
#call-to-action .aides {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
#call-to-action #cost-company {
  color: #27CC8D;
  font-weight: 700;
  font-size: 1.4em;
}
#call-to-action #title-want {
  border-radius: 5px;
  position: absolute;
  top: -50px;
  left: 25%;
  background-color: black;
  font-size: 1em;
  padding: 10px;
  border: solid 5px rgb(39, 204, 141);
}
#call-to-action > div {
  display: flex;
  flex-wrap: wrap;
}
#call-to-action > div > p {
  font-weight: 700;
  font-size: 1em;
  color: black;
}
#call-to-action > div > p > i {
  margin-right: 10px;
  color: rgb(39, 204, 141);
}
#call-to-action > div > p span {
  font-weight: 500;
  font-size: 1em;
  font-style: italic;
}

#about {
  border-top: solid 4px #303030;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  background-color: #ECF8F6;
  background-color: rgb(39, 204, 141);
}
#about h2 {
  display: flex;
  flex-basis: 100%;
  font-weight: 600;
  margin: 0;
}
#about h2 span {
  padding-right: 5px;
}
#about p {
  font-size: 1em;
  text-align: justify;
  padding-bottom: 15px;
}
#about > div {
  display: flex;
  flex-basis: 100%;
}
#about > div > img {
  height: 200px;
  display: flex;
  flex-basis: 100%;
}

#project {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  background-color: #303030;
  padding: 20px;
}
#project .short-long {
  font-weight: 700;
  padding-bottom: 10px;
}
#project h2 {
  display: flex;
  flex-basis: 100%;
  font-weight: 600;
  margin: 0;
}
#project h2 span {
  padding-right: 5px;
}
#project p {
  font-size: 1em;
  text-align: justify;
  padding-bottom: 15px;
}
#project .short {
  font-size: 1.5em;
}
#project > div > div {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}
#project > div > div > img {
  width: 100%;
  border-radius: 2px;
}
#project .button {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
  flex-basis: 100%;
  justify-content: center;
  background-color: rgb(39, 204, 141);
  border-radius: 2px;
  font-weight: 600;
  color: whitesmoke;
  box-shadow: 4px 17px 47px 16px rgba(143, 143, 143, 0.29);
  margin-bottom: 20px;
}

#experience {
  position: relative;
  background-color: rgb(39, 204, 141);
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  color: whitesmoke;
  justify-content: space-between;
}
#experience #title-exp {
  border-radius: 5px;
  position: absolute;
  top: -25px;
  left: 11%;
  background-color: black;
  font-size: 1em;
  padding: 10px;
  border: solid 5px rgb(39, 204, 141);
}
#experience .exp-sub-title {
  font-size: 1.5em;
  display: flex;
  font-weight: 600;
  flex-basis: 100%;
}
#experience h2 {
  font-size: 1.4em;
  display: flex;
  flex-basis: 100%;
  font-weight: 600;
  margin: 0;
}
#experience h2 span {
  padding-right: 5px;
}
#experience h3 {
  font-size: 1em;
  font-weight: 600;
  font-style: italic;
}
#experience h3 > a {
  color: #226D68;
}
#experience article > div > p {
  font-size: 0.7em;
  font-weight: 600;
}

.separator {
  display: flex;
  border-bottom: 1px solid rgba(24, 83, 79, 0.2588235294);
  flex-basis: 60%;
  margin: 30px auto;
}

footer {
  display: flex;
  flex-basis: 100%;
}
footer > div {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
footer > div img {
  flex-basis: 100%;
  height: 50px;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
}
footer ul li i {
  font-size: 1em;
  margin-right: 10px;
}
footer ul li .fa-brands {
  font-size: 2em;
}

@media screen and (min-width: 600px) {
  body {
    background-color: white;
    color: black;
  }
  header > div {
    max-width: 1200px;
    margin: 0 auto;
  }
  #contact-me {
    top: 20px;
    right: 5%;
    width: 25%;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  main #presentation {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
  main #presentation > div:first-child {
    flex-basis: 30%;
  }
  main #presentation h1 {
    flex-basis: 50%;
  }
  main #presentation .licence {
    flex-basis: 30%;
    padding-top: 20px;
  }
  main #presentation .alternance {
    flex-basis: 40%;
  }
  main #presentation .alternance .underline-green:first-child::before {
    width: 250px !important;
    left: 0px !important;
  }
  main #presentation .alternance .underline-green:nth-child(2)::before {
    width: 420px;
  }
  main #alternance {
    flex-basis: 30%;
    margin: 50px auto;
  }
  main #call-to-action {
    border-radius: 10px;
    border: solid 5px #27CC8D;
    margin-bottom: 20px;
  }
  main #call-to-action #title-want {
    color: white;
    left: 42%;
  }
  main #call-to-action #cost-company {
    flex-basis: 100%;
  }
  #about {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
  }
  #about > h2 {
    flex-basis: 100% !important;
  }
  #about #about-txt {
    display: flex;
    width: 47% !important;
  }
  #about .image-part-container {
    flex-basis: 47% !important;
  }
  #about .image-part-container img {
    height: 300px;
    object-fit: cover;
  }
  #project {
    row-gap: 50px;
    display: flex;
    background-color: white;
    justify-content: space-between;
  }
  #project > h2 {
    flex-basis: 100%;
  }
  #project #wish, #project #wish-3 {
    flex-basis: 47% !important;
  }
  #project > h4 {
    display: flex;
    flex-basis: 50%;
  }
  #project #infn-container {
    flex-basis: 47%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  #project #wish-2 {
    display: flex;
    flex-basis: 48%;
  }
  #experience {
    margin-top: 50px;
    background-color: white;
    color: black;
  }
  #experience > section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 29%;
  }
  #experience #title-exp {
    color: white;
  }
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }
  #experience {
    flex-direction: row;
    border-radius: 10px;
  }
  #experience #title-exp {
    left: 37%;
  }
  #experience > article {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1000px) {
  #contact-me {
    right: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
